
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-mono {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
  }
  
  .geist {
      font-family: "Geist", serif;
      font-optical-sizing: auto;
  }

.roboto-mono::placeholder {
    font-family: 'Roboto Mono', monospace;
}

* {
    font-family: 'Geist';
    @apply tracking-tight
}